
<div class="row cool">

  <div class="col-md-6">
    <p class="initial-cap">
      <%=t :aboutp1 %>
    </p>

    <p class="initial-cap">
      <%=t :aboutp2 %>
    </p>
</div>
<div class="col-md-6">

  <p class="initial-cap">
    <%=t :aboutp3 %>
  </p>

  <p class="initial-cap">
    <%=t :aboutp4 %>
  </p>

  </div>
</div>
