
<div class="row">

  <div class="cool">
    <p>
      The Hispanic Heritage Project began in 1992 as part of the Pioneer Room
      Friends of the Escondido Public Library to raise funds for purchasing
      additional books on the Spanish Colonial Period that is currently housed
      in the Pioneer Room. We organized high school and adult Hispanic community
       members in several fund raising projects. One of our projects was selling
        tacos at Escondido's First Night, the city's New Year celebration. In
        addition we picked and sold oranges in front of the public library
        donated from the grove owned by an Hispanic community member. Later,the
        city of Escondido noticing our activities offered us an orange and
        avocado grove to manage as a fund raiser.
    </p>

    <p>
      It was during this time that we became aware that an indexing project of
      the Hidalgo de Parral municipal archive had stopped because of lack of
      funds. We were able with the proceeds from our avocado and orange grove to
       provide them funds to complete the guide to the archive. In the process
       we became aware of other needs in the archive and continued for several
       years to provide donated equipment and funds for research assistants
       working in the archive.
    </p>
  </div>

  <div class="cool">
    <p>
      As we worked on our projects other needs came to our attention. The parish
       of San Bartolome in Valle de Allende did not have a copy machine making
       it difficult for researchers to obtain copies of documents. We donated a
       copy machine to the parish. The archive in the Parral Diocese was
       vandalized and we provided the manpower to put the archive back into
       order. We have provided donated equipment to the diocese in Durango and
       the Institute of Historical Investigations at the University of Juarez in
        Durango. We also provided a donation for the publication of the guide to
         the collection at the Historical Archive of Colima.
    </p>

    <p>
      We continue to serve as our resources allow us and presently we have
      received several requests to digitize other historical archives in Mexico.
    </p>
  </div>

</div>
