
<div class="row">

  <div class="cool">
    <p>
      Welcome to our book store.  Thanks to the donations of many supporters we
      have both Spanish and English titles of many subjects available to you.
       When you purchase a book the proceeds go to our general fund which
       supports our operating expenses and website.  All remaining funds go to
       the current project which has not yet been completely funded.
    </p>
  </div>
  <div>
    <h3 align="center"><a href="http://www.abebooks.com/servlet/SearchResults?sortby=1&vci=51037831" target="_blank">Book Store</a></h3>
  </div>

</div>
