

  <div class="row cool">
    <div class="col-md-6">

    <p class="initial-cap">
      Welcome to our book store.  Thanks to the donations of many supporters we
      have both Spanish and English titles of many subjects available to you.
       When you purchase a book the proceeds go to our general fund which
       supports our operating expenses and website.  All remaining funds go to
       the current project which has not yet been completely funded.
    </p>
  </div>
  <div class="col-md-6">
    <h3 align="center"><a href="http://www.abebooks.com/servlet/SearchResults?sortby=1&vci=51037831" target="_blank"><img src="http://res.freestockphotos.biz/pictures/14/14310-illustration-of-an-open-book-pv.png" height="200" width="125"><br> Book Store</a></h3>
  </div>
</div>
