<div class="row cool">

<div class="col-md-4" align="center">
    <h3>
      Hidalgo del Parral,
      Chihuahua</a>
    </h3>
    <!-- Button trigger modal -->
    <h4>
      <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal">
      Archivo Histórico Municipal
      </a>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Archivo Histórico Municipal</h4>
          </div>
          <div class="modal-body">
            <p class="initial-cap-modal">
              Catálogo del fondo colonial Archivo Histórico Municipal del Parral
              1632-1821.  This is the latest catalog of the Parral Archive completed
               by its staff.  In this catalog, you will find in column "G"
               (Referencias guía McCaa) the document number identifying their
               location in the McCaa guide that is the guide to the microfilm
               collection of the Parral Archive found in several American
               universities.
            </p>
            <p class="initial-cap-modal">
              Fondo Colonial (digital images) This posting is a work in progress of
              the images that have been taken recently. It will be updated on a
              weekly basis.  If you get the message, "folder is empty" this means
              that for various reasons, the image was not taken.  It will be done
              at a later date.  Please be patient.  We are posting these images on
              our website until we decide whether or not we will continue with a
              commercial company.  After visiting several colonial archives in
              Mexico, we do not know if partnering is the best avenue for us to
              pursue. We are currently beta testing this posting and should you
              find any items that need to be corrected please notify us at
              mymejico.@gmail.com.
            </p>
            <p class="initial-cap-modal">
              <a href="http://hh-p.org/images/Intro_Guia.pdf">Introducción de la
                guía de los Archivos Históricos de Hidalgo del
              Parral</a>. This is an introduction and description of the features of
              what is commonly referred to as the McCaa Guide. The work of Robert
              McCaa, Carolyn Roy, and Rosa Maria Arroyo Duarte is a guide to the
              different microfilmings of the Parral Archive in particular, the
              Chambers Microfilm collection that was done by the Arerind Foundation
               and is found in many American universities. Here you will also find
               a guide to the microfilming done by the Centro de Información del
               Estado de Chihuahua. Currently only the University of Minnesota, the
                University of Texas at El Paso, and the Parral Archive have copies
                of this microfilming.
            </p>
            <p class="initial-cap-modal">
              <a href="http://hh-p.org/images/guia_de_los_archivos_historicos_de_Hidalgo_del_Parral.pdf">
                Guía de los Archivos Históricos de Hidalgo del Parral</a>. This work by
              Robert McCaa, Carolyn Roy, and Rosa Maria Duarte is an updated version
               of the guide to the Dr. Charles Di Peso Microfilm Guide of the
               Chamber's microfilm collection of the Hidalgo del Parral Archive
               which is now known as the Fondo Colonial. This microfilm collection
               is housed in the University of Minnesota, the University of Texas at
               El Paso, the University of California at Riverside, Arizona State
               University, the University of Utah, the University of Texas at San
               Antonio, Texas A&M University, Fort Lewis College, the University of
               Virginia and the Parral Archive.
            </p>
            <p class="initial-cap-modal">
              <a href="http://hh-p.org/images/TIEMPO_DE_REVOLUCIONES,_1766_-_1821_EXCEL.xls">Tiempo de revoluciones catálogo de protocolos 1766-1821</a>.  In the
              previous guides to the Parral Archive catalogs, there are sections
              that refer to protocolos but do not identify the individual documents.
                Local historian, Roberto Baca, has undertaken and completed the
                project of identifying each individual document in those sections
                from the years 1766-1821
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<!-- Fondo Colonial Modal -->
    <h4>
      <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal1">
        Fondo Colonial
      </a>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModal1Label">Fondo Colonial</h4>
          </div>
          <div class="modal-body">
            <h2>Under Construction</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<!-- End Fondo Colonial Modal -->
<!-- San Jose Parish Archive Modal -->
    <h4>
      <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal2">
        San Jose Parish Archive
      </a>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModal2Label">San Jose Parish Archive</h4>
          </div>
          <div class="modal-body">
            <h2>Under Construction</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<!-- end San Jose Parish Archive Modal -->
  </div>

  <div class="col-md-4" align="center">
    <h3>
      Valle de Allende, Chihuahua
    </h3>
    <h4>
      <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal3">
        San Bartolomé Parish
      </a>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModal3Label">San Bartolomé Parish</h4>
          </div>
          <div class="modal-body">
            <p class="initial-cap-modal">
              A partial guide to the <a href="http://hh-p.org/images/Informaci_n_matrimonial_Valle_de_Allende_Copy.xls">Informaciones Matrimoniales</a> of the San Bartolomé Parish
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" align="center">
    <h3>
    Villa Coronado, Chihuahua
    </h3>
    <h4>
      <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal4">
        San Francisco Javier Parish Archive
      </a>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModal4Label">San Francisco Javier Parish Archive</h4>
          </div>
          <div class="modal-body">
            <p class="initial-cap-modal">
              A sample of the <a href="http://hh-p.org/images/Villa_Coronado_Records.docx">Villa Coronado Parish</a> records.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
