<div class="row cool">

  <div class="col-md-6">
    <p class="initial-cap">
      <%=t :donationsp1 %>
    </p><br>
  </div>

  <div class="col-md-6 donate" align="center">
    <!-- Paypal button html -->
    <a  href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=tLJEaxBzglfvHEQ3vGXmTVhmNQ9_yEmcl207XjslypcXmGTwm4s6Rsqet3m&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec" target= "_blank" "blank"><img src="http://4.bp.blogspot.com/-8NxMg3Tm-tY/U4wEqN1ukyI/AAAAAAAACOo/yOe3YBweYAE/s1600/paypal%20donate.png" height="400" width="250 " alt="Buy now with PayPal" /></a>
  </div>
</div>
<div class="row cool">
  <div align="center">
    <h2>
      <%=t :donationsp2 %>
    </h2>
  </div>

  <div class="col-md-12">
      <p>
        2008 * Steven & Joanne Passmore * Leonardo Rodriguez * The Guadalupe Fund * Carlos Yturralde *
      </p>
      <p>
        2009 * Carpe Diem Fine Books * Sandra Curd * Arturo Garcia * Arline Greene * Francisca Jaramillo * Libreria Madero * Augustin J. Navarrete * Jose G. Pantoja * Adrian A. Ramirez * Angel A. Ramirez * Christian Seth Rincon * Ernest Stephen * David A. Yturralde * Carlos and Nancy C. Yturralde * Gabriel Rosales *
      </p>
      <p>
        2010 * Gregory Cosio * Carlos M. Yturralde
      </p>
      <p>
        2011 * Gabriel B. Rosales * Carlos Yturralde
      </p>
      <p>
        2013 * Lynn Show * Carlos M. Yturralde * Scott Rees * Charles Cuento *
      </p>
      <p>
        2014 * Margaret C. Nevárez * John P. Schmal * Leonard Trujillo * Mario Grajeda * Stella Cardoza Stella Rico * Sylvia Magdaleno * Paty Garcia * Carlos and Nancy Yturralde * Brent and Virginia Banta * Angelina Veyna * Cynthia LeMons * Steven & Joanne Passmore * San Luis Obispo County Genealogical Society * Jesus Vargas Valdes * Polo Montanez * Rita Soto * Alvaro Canales Santos * Wanda and Robert MaCaa * Fondo Colonial * Joseph Puentes * Arline Greene * Raymond Curtis * Belinda Diaz * Raymond Caballero * Patricia Salcido * Gregory Cosio * Gregory Pisaño * Martha Crosley Graham * Michael Vasquez * RaClare Kalan * Margarita Davila Gongalez * Xochitl Gutierrez Lopez * Carolina Cortazar * Rafael Munos
      </p>
      <p>
        2015 * Carlos and Nancy Yturralde *  Earl F. and Caren McIntyre * Christian Seth Rincon * Mike Hutson * Chantal Cramaussel Vallet * Lynn and Janet Snow * Raquel H. Ruiz * Arline Green * Itzel Garcia * Manual Tovar * Jorge Reyes * Gregory Pisano * Patricia Salcido
      </p>
  </div>
</div>
