<div align="center">
  <h2>Hispanic Heritage Project</h2>
  <!-- Paypal button html -->
  <a class="image" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=o5-tcH5w7ZpBX-reA2kVXVy_KDJFIGPsLM79ip2Hc1D__tEtJt54cnVO68G&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec" target= "_blank" "blank"><img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Buy now with PayPal" /></a>
</div><br>
<div class="row">
  <div class="col-md-12">
<p>
  We invite you to join us and the current donors in making these projects a reality. All donations are tax deductible under section 170 of the Internal Revenue Code as we are a 501(c)(3) public charity. Please mail your donations to Hispanic Heritage Project, 3611 Foxley Drive, Escondido, CA, US, 92027 or donate through Paypal.
</p>
  </div>

  <div align="center">
    <h4>
Current donors to whom we are most appreciative:
    </h4>

  </div>

  <div class="col-md-12">
    <p>
      <p>
        2008 * Steven & Joanne Passmore * Leonardo Rodriguez * The Guadalupe Fund * Carlos Yturralde *
      </p>
        2009 * Carpe Diem Fine Books * Sandra Curd * Arturo Garcia * Arline Greene * Francisca Jaramillo * Libreria Madero * Augustin J. Navarrete * Jose G. Pantoja * Adrian A. Ramirez * Angel A. Ramirez * Christian Seth Rincon * Ernest Stephen * David A. Yturralde * Carlos and Nancy C. Yturralde * Gabriel Rosales *</p>
      <p>
        2010 * Gregory Cosio * Carlos M. Yturralde
      </p>
      <p>
        2011 * Gabriel B. Rosales * Carlos Yturralde
      </p>
      <p>
        2013 * Lynn Show * Carlos M. Yturralde * Scott Rees * Charles Cuento *
      </p>
      <p>
        2014 * Margaret C. Nevárez * John P. Schmal * Leonard Trujillo * Mario Grajeda * Stella Cardoza Stella Rico * Sylvia Magdaleno * Paty Garcia * Carlos and Nancy Yturralde * Brent and Virginia Banta * Angelina Veyna * Cynthia LeMons * Steven & Joanne Passmore * San Luis Obispo County Genealogical Society * Jesus Vargas Valdes * Polo Montanez * Rita Soto * Alvaro Canales Santos * Wanda and Robert MaCaa * Fondo Colonial * Joseph Puentes * Arline Greene * Raymond Curtis * Belinda Diaz * Raymond Caballero * Patricia Salcido * Gregory Cosio * Gregory Pisaño * Martha Crosley Graham * Michael Vasquez * RaClare Kalan * Margarita Davila Gongalez * Xochitl Gutierrez Lopez * Carolina Cortazar * Rafael Munos
      </p>
      <p>
        2015 * Carlos and Nancy Yturralde *  Earl F. and Caren McIntyre * Christian Seth Rincon * Mike Hutson * Chantal Cramaussel Vallet * Lynn and Janet Snow * Raquel H. Ruiz * Arline Green * Itzel Garcia * Manual Tovar * Jorge Reyes * Gregory Pisano * Patricia Salcido
      </p>
  </div>

</div>
