<div>
  <h1><%=t :hello_world %></h1>
</div>

<div class="row cool">
 <div align="center" class="col-md-4">
    <img class="image" align="center" src="http://ecx.images-amazon.com/images/I/51goPzDBndL._SY344_BO1,204,203,200_.jpg"/><br><br>

    <!-- Paypal button html -->
    <a class="image" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=RVsocjNexY_5AexVI-lUpeq2LXFGkBbUoLvj9H6IOojPzeJt8pr1GV-B7ei&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b081985c750cb9736179f5c8aadc95fab80c37"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" url="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=RVsocjNexY_5AexVI-lUpeq2LXFGkBbUoLvj9H6IOojPzeJt8pr1GV-B7ei&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b081985c750cb9736179f5c8aadc95fab80c37" alt="Buy now with PayPal" /></a>
 </div>

 <div class="col-md-8">
    <h2 align="center">Poblar La Frontera</h2>

    <p>
      <font size="6">T</font>he work Poblar la frontera. The province of Santa Barbara in Nueva
      Vizcaya during the sixteenth and seventeenth centuries summarizes years
      of work and research; Its antecedent is the doctoral thesis presented by
      the author in 1997 at the Ecole des Hautes Etudes in Paris.
    </p>
    <p>
      <font size="6">T</font>he work is an exhaustive research in primary sources including the local
      files of Chihuahua and Jalisco, the Archivo General de la Nación in Mexico
       City, and the Archivo General de Indias.  It is a study where
       urbanization, among others, are at the center of attention.  In addition,
        among the methods used for the investigation, the author highlights the
        prosopography of the peoples of Santa Barbara. Taken from the review by
        Zulema Trejo and José Marcos Medina
    </p>

    <p>
      <em><strong>To purchase this book first email us at mymejico@gmail.com to confirm availability.  Once confirmed complete the purchase through PayPal.
      Price: $48.00 which includes shipping within the continental United States. </strong></em>
    </p>
 </div>
</div>
