
<div class="row cool">

  <div class="col-md-6">
    <p class="initial-cap">
      <%=t :projectsp1 %>
    </p>
  </div>

  <div class="col-md-6">

    <p class="initial-cap">
      <%=t :projectsp2 %>
    </p>

  </div>



</div>
