
<div class="row cool">

  <div class="col-md-6">
    <p>
<font size="6">A</font>t the end of last October 2008 we received a request from the Parral Municipal
archive (the largest colonial archive in Northern Mexico) to preserve their
collection in a digital format.  Then three local parishes, San Bartolome, Villa
Coronado and Santa Barbara also requested assistance in digitizing their
ecclesiastical archives. The San Bartolome parish has a document written in
1575. Later we became aware of the need to assist three small municipal archives
in the state of Guanajuato. Previously the Documentary Relations of the
Southwest (DRSW) of the Arizona State Museum at the University of Arizona had
requested our assistance in obtaining permission to digitize a portion of the
Sonora State Archive in Hermosillo, Mexico.
</p>
</div>
<div class="col-md-6">

<p>
  <font size="6">W</font>e accepted the call to help. Our
next move was to approach the Mexican foundation, Apoyo al desarrollo de
archivos y bibliotecas de Mexico, A.C. (ADABI) to join us in the project. They
agreed and will assume the responsibility of organizing the materials prior to
us digitizing the records. This archive has extensive important information
relating to the native American history of the Southwestern United States. Up
to the present time, it has been difficult for university student researchers
to gain access to this archive. Our efforts in this new partnership should open
the doors to those students for all future researching activities. Once
digitized, the records of these projects will be made available through the
internet at no cost to all who desire knowledge of this early Spanish Colonial
American history.
    </p>

  </div>



</div>
