<div class="col-md-4" align="center">
  <h3>
    Hidalgo del Parral,
    Chihuahua</a>
  </h3>
  <!-- Button trigger modal -->
  <h4>
    <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal">
    Archivo Histórico Municipal
    </a>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Archivo Histórico Municipal</h4>
        </div>
        <div class="modal-body">
          <p>
            Catálogo del fondo colonial Archivo Histórico Municipal del Parral
            1632-1821.  Este es el último catálogo del Archivo de Parral completado
             por su personal. En este catálogo, se encuentra en la columna "G "
             ( Referencias Guía McCaa ) el número del documento de identificación de su
             ubicación en la guía McCaa que es la guía para el microfilm
             colección del Archivo de Parral se encuentra en varias universidades de los Estados Unidos.
          </p>
          <p>
            Fondo Colonial (imágenes digitales) Esta publicación es un trabajo en progreso de
            las imágenes que se han tomado recientemente . Se actualizará semanalmente. Si recibe el mensaje, " carpeta está vacía " esto significa
            que, por diversas razones, la imagen no fue tomada . Sera hecho
            en una fecha posterior. Por favor sea paciente. Estamos publicando estas imágenes en
            nuestro sitio web hasta que decidamos si vamos a seguir con un
            empresa comercial. Después de visitar varios archivos coloniales en
            México , no sabemos si asociaciarnos es el mejor camino en
            seguir. Actualmente estamos haciendo las pruebas beta de este anuncio y en caso de que se
            encuentren elementos que necesitan ser corregidos por favor háganoslo saber a través
            mymejico.@gmail.com.
          </p>
          <p>
            <a href="http://hh-p.org/images/Intro_Guia.pdf">Introducción de la
              guía de los Archivos Históricos de Hidalgo del
            Parral</a>. Esta es una introducción y descripción de las características de
            lo que se conoce comúnmente como la Guía McCaa . La obra de Robert
            McCaa , Carolyn Roy , y Rosa María Arroyo Duarte es una guía en las
            diferentes microfilmas del Archivo Parral, en particular, la
            colección Chambers Microfilm que fue hecho por la Fundación Arerind
             y se encuentra en muchas universidades americanas. Aquí también se puede encontrar
             una guía para la microfilmación realizada por el Centro de Información del
             Estado de Chihuahua. Actualmente, sólo la Universidad de Minnesota , la
              Universidad de Texas en El Paso, y el Archivo de Parral tienen copias
              de esta microfilmación.
          </p>
          <p>
            <a href="http://hh-p.org/images/guia_de_los_archivos_historicos_de_Hidalgo_del_Parral.pdf">
              Guía de los Archivos Históricos de Hidalgo del Parral</a>. Esta obra de
            Robert McCaa , Carolyn Roy , y Rosa María Duarte es una versión actualizada
             de la guía para el Dr. Charles Di Peso Guía de Microfilm de la
             Colección de Chambers Microfilm del Hidalgo del Parral Archivo
             que ahora se conoce como el Fondo colonial . Esta colección de microfilm
             está ubicado en la Universidad de Minnesota , la Universidad de Texas en
             El Paso, la Universidad de California en Riverside , Universidad del Estado de Arizona
             , la Universidad de Utah, la Universidad de Texas en San
             Antonio, Texas A & M University, Fort Lewis College, la Universidad de
             Virginia y el Archivo de Parral .
          </p>
          <p>
            <a href="http://hh-p.org/images/TIEMPO_DE_REVOLUCIONES,_1766_-_1821_EXCEL.xls">Tiempo de revoluciones catálogo de protocolos 1766-1821</a>.  en guías
            anteriores de los catálogos de Parral Archive , hay secciones
            que se refieren a Protocolos, pero no identifican los documentos individuales.
              El historiador local, Roberto Baca, ha emprendido y completado el
              proyecto de identificación de cada documento individual en las secciones
              a partir de los años 1766-1821
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Fondo Colonial Modal -->
  <h4>
    <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal1">
      Fondo Colonial
    </a>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModal1Label">Fondo Colonial</h4>
        </div>
        <div class="modal-body">
          <h2>Bajo Construcción</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Fondo Colonial Modal -->
<!-- San Jose Parroquia Archive Modal -->
  <h4>
    <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal2">
      Archivos de la gir Parroquia de San Jose
    </a>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModal2Label">Parroquia de San Jose Archive</h4>
        </div>
        <div class="modal-body">
          <h2>Bajo Construcción</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<!-- end San Jose Parroquia Archive Modal -->
</div>

<div class="col-md-4" align="center">
  <h3>
    Valle de Allende, Chihuahua
  </h3>
  <h4>
    <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal3">
      Parroquia de San Bartolomé
    </a>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModal3Label">Parroquia de San Bartolomé</h4>
        </div>
        <div class="modal-body">
          <p>
            A partial guide to the <a href="http://hh-p.org/images/Informaci_n_matrimonial_Valle_de_Allende_Copy.xls">Informaciones Matrimoniales</a> of the San Bartolomé Parroquia
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4" align="center">
  <h3>
  Villa Coronado, Chihuahua
  </h3>
  <h4>
    <a href="http://hh-p.org/ahmdescription.html" data-toggle="modal" data-target="#myModal4">
      Archivo de la Parroquia de San Francisco Javier
    </a>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModal4Label">Archivo de la Parroquia de San Francisco Javier</h4>
        </div>
        <div class="modal-body">
          <p>
            Ejemplar de la <a href="http://hh-p.org/images/Villa_Coronado_Records.docx">Parroquia de Villa Coronado</a> records.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
