<div class="row cool">
  <div class="col-md-8">

    <p>
      Les invitamos a unirse a nosotros y los donadores actuales que hacen estos
      proyectos una realidad. Todas las donaciones son libres de impuestos en base
       a la sección 170 del Internal Revenue Code ya que somos una 501(c)(3)
       asociación pública. Por favor envie sus donaciones a Hispanic Heritage
       Project, 3611 Foxley Drive, Escondido, CA, US, 92027
    </p>
  </div>
    <div class="col-md-4" align="center">
    <!-- Paypal button html -->
    <a class="image" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=o5-tcH5w7ZpBX-reA2kVXVy_KDJFIGPsLM79ip2Hc1D__tEtJt54cnVO68G&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec" target= "_blank" "blank"><img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Buy now with PayPal" /></a>
</div>
  </div>

  <div align="center">
    <h3>
      Actuales donadores con los que estamos agradecidos:
    </h3>
  </div>

  <div class="cool">
    <p>
      <p>
        2008 * Steven & Joanne Passmore * Leonardo Rodriguez * The Guadalupe Fund * Carlos Yturralde *
      </p>
        2009 * Carpe Diem Fine Books * Sandra Curd * Arturo Garcia * Arline Greene * Francisca Jaramillo * Libreria Madero * Augustin J. Navarrete * Jose G. Pantoja * Adrian A. Ramirez * Angel A. Ramirez * Christian Seth Rincon * Ernest Stephen * David A. Yturralde * Carlos and Nancy C. Yturralde * Gabriel Rosales *</p>
      <p>
        2010 * Gregory Cosio * Carlos M. Yturralde
      </p>
      <p>
        2011 * Gabriel B. Rosales * Carlos Yturralde
      </p>
      <p>
        2013 * Lynn Show * Carlos M. Yturralde * Scott Rees * Charles Cuento *
      </p>
      <p>
        2014 * Margaret C. Nevárez * John P. Schmal * Leonard Trujillo * Mario Grajeda * Stella Cardoza Stella Rico * Sylvia Magdaleno * Paty Garcia * Carlos and Nancy Yturralde * Brent and Virginia Banta * Angelina Veyna * Cynthia LeMons * Steven & Joanne Passmore * San Luis Obispo County Genealogical Society * Jesus Vargas Valdes * Polo Montanez * Rita Soto * Alvaro Canales Santos * Wanda and Robert MaCaa * Fondo Colonial * Joseph Puentes * Arline Greene * Raymond Curtis * Belinda Diaz * Raymond Caballero * Patricia Salcido * Gregory Cosio * Gregory Pisaño * Martha Crosley Graham * Michael Vasquez * RaClare Kalan * Margarita Davila Gongalez * Xochitl Gutierrez Lopez * Carolina Cortazar * Rafael Munos
      </p>
      <p>
        2015 * Carlos and Nancy Yturralde *  Earl F. and Caren McIntyre * Christian Seth Rincon * Mike Hutson * Chantal Cramaussel Vallet * Lynn and Janet Snow * Raquel H. Ruiz * Arline Green * Itzel Garcia * Manual Tovar * Jorge Reyes * Gregory Pisano * Patricia Salcido
      </p>
  </div>
</div>
