

  <div class="cool">
    <p>
      <font size="6">B</font>ienvenidos a nuestra librería.  Gracias por las donaciones de nuestros
      numerosos colaboradores, tenemos disponibles libros en español e inglés
      sobre una variedad de temas.  Cuando compra un libro, los ingresos se
      aplican a nuestro fondo general que apoya nuestros gastos operativos y el
      sitio web. El resto de los fondos están aprobados  al proyecto actual que
      todavía no se financia totalmente.
    </p>
  </div>
  <div>
    <h3 align="center"><a href="http://www.abebooks.com/servlet/SearchResults?sortby=1&vci=51037831" target="_blank">Librería</a></h3>
  </div>
