
<div class="row cool">

  <div align="" class="col-md-12">
    <p>
A finales de Octubre pasado recibimos una petición para digitalizar el archivo
municipal de Parral, el cual es el archivo más grande en el norte de México. A
raíz de esto tres Parroquias locales, San Bartolomé, Villa Coronado y Santa
Bárbara también pidieron asistencia para digitalizar sus archivos eclesiásticos.
 La Parroquia de San Bartolomé tiene un documento escrito en 1575. Tiempo
 después, reconocimos la necesidad de ayudar a tres archivos municipales en el
 estado de Guanajuato. Previamente Documentary Relations of the Southwest (DRSW)
  del Museo Estatal de Arizona en la Universidad de Arizona, pidieron nuestro
  apoyo en la obtención de permisos para digitalizar una porción del Archivo
  Estatal de Sonora en Hermosillo, México.
    </p>
    <p>
  Aceptamos y contactamos la fundación mexicana, Apoyo al Desarrollo de Archivos
   y Bibliotecas de Mexico, A.C. (ADABI) para unirse a nuestro proyecto. Ellos
   aceptaron y asumirán la responsabilidad de organizar los materiales previo a
   la digitalización de los mismos. Este archivo contiene información importante
    relacionada a la historia de los nativos Americanos del suroeste de los
    Estados Unidos. Es difícil para los estudiantes de la universidad tener 
    acceso a estos archivos. Nuestros esfuerzos en nuestro nuevo acuerdo debera
    abrir las puertas para esos estudiantes para todos sus actividades de
    investigacion en el futuro. De ser digitalizadas los archivos de estos
    proyectos se haran disponibles por medio del internet sin costo, para todos
    los que deseen conocimiento de esta historia de América en la época Colonial
     Española.
    </p>
  </div>
</div>
